.Nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F55A5A;
    height: 50px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F55A5A;
    margin-left: 230px;
}
.title{
  color: azure;
  font-weight: bold;
}
