.Nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F55A5A;
    height: 100px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F55A5A;

}
